@font-face {
  font-family: "Montserrat Black";
  src: url("../fonts/montserrat-black-webfont.eot");
  src: url("../fonts/montserrat-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-black-webfont.woff") format("woff"), url("../fonts/montserrat-black-webfont.svg") format("svg");
}
@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/montserrat-light-webfont.eot");
  src: url("../fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat-light-webfont.svg") format("svg");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.svg") format("svg");
}
@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata-webfont.eot");
  src: url("../fonts/Inconsolata-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Inconsolata-webfont.woff") format("woff"), url("../fonts/Inconsolata-webfont.svg") format("svg");
}
/*=Typography=*/
html {
  font-size: 1rem;
}
body {
  font-family: "Open sans", sans-serif;
  font-weight: 300;
}
.navbar a {
  text-align: center;
}
.navbar a {
  font-size: 1rem;
}
.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
p,
li {
  font-size: 1rem;
  line-height: 1.5;
}
/*=Base=*/
section {
  padding: 5em 0;
}
footer {
  padding: 3em 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a {
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -ms-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
hr {
  width: 7%;
}
span.strong {
  font-weight: 400;
}
.tag {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.tag .tag-left i {
  font-size: 3rem;
  display: block;
  padding: 1rem;
  text-align: center;
  color: white;
  border-radius: 5% 40%;
  background-color: #202d40;
}
.tag .tag-body {
  padding-left: 15px;
}
.tag .tag-body span {
  border-radius: 0.2rem;
  padding: 0 0.5rem;
  font-family: "Inconsolata";
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  background-color: #202d40;
}
.sec-li {
  margin: 0.6rem 0;
  font-size: 1rem;
}
/*=Layout=*/
.sec-news,
.sec-invited,
.sec-awards {
  background-color: #f9f9f9;
}
/*Header*/
.navbar-default {
  background: #202d40;
}
.navbar-default .navbar-brand {
  color: #fff;
  font: bold 1.1rem "Montserrat Black", sans-serif;
}
.navbar-default .navbar-brand:hover {
  color: #cdc580;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #cdc580;
}
.navbar-default .navbar-nav > li > a:active {
  color: #c6bd6e;
}
.navbar-default .navbar-collapse.in,
.navbar-default .navbar-collapse.collapsing {
  background-color: #fff;
}
.navbar-default .navbar-collapse.in .navbar-nav > li > a,
.navbar-default .navbar-collapse.collapsing .navbar-nav > li > a {
  color: #202d40;
}
.navbar-default .navbar-collapse.in .navbar-nav > li > a:hover,
.navbar-default .navbar-collapse.collapsing .navbar-nav > li > a:hover,
.navbar-default .navbar-collapse.in .navbar-nav > li > a:focus,
.navbar-default .navbar-collapse.collapsing .navbar-nav > li > a:focus {
  color: #cdc580;
}
.navbar-default .navbar-collapse.in .navbar-nav > li > a:active,
.navbar-default .navbar-collapse.collapsing .navbar-nav > li > a:active {
  color: #c6bd6e;
}
/*Main*/
.sec-main {
  position: relative;
  background: #f9f9f9;
  padding: 5rem 4rem 2rem;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.sec-main .bg {
  border-radius: 1rem;
}
.sec-main .title {
  font: bold 1.6rem "Montserrat Light", sans-serif;
  margin: 1.2rem 0;
}
.sec-main p {
  line-height: 1.7;
}
.sec-main .flex-left,
.sec-main .flex-right {
  margin: 0 2rem;
}
/*About*/
.sec-about a {
  color: #000;
}
.sec-about a:hover,
.sec-about a:focus {
  color: #cdc580;
}
/*Publications*/
.sec-publications .media {
  margin: 0 2rem;
}
.sec-publications .media .media-heading {
  color: #202d40;
}
.sec-publications .media .media-body {
  padding-left: 2rem;
}
.sec-publications .media .media-body .media-people {
  font-size: 0.9rem;
}
/*Invited*/
.sec-invited {
  text-align: center;
}
/*Awards*/
.sec-awards .sec-li {
  text-align: left;
}
/*Footer*/
footer {
  background: #202d40;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
